a {
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none
}

a:hover {
  text-decoration: none;
}

h2 {
  padding: 20px;
}

.generic {
  color: #2688E3;
  /* text-align: center; */
}

.center-margin {
  margin: 0 auto;
}

.button {
  background-color: #9A43B1;
  border: none;
  display: block; 
}

.button:hover, .button:focus {
  background-color: #7e0c9e;
}


::-webkit-scrollbar {
  width: .5em;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(67, 55, 61, 0.3);
  background-color: var(--accent-dark);
}
::-webkit-scrollbar-thumb {
  background-color: #DBBFE4;
  /* outline: 1px solid #433737; */
  border-radius: 25px;
  box-shadow: 0 1px #BC8ACE;
}
::-webkit-scrollbar-thumb:hover {
  background: #9443b1; 
}  
