a {
  margin: 0px;
  padding: 200px;
  box-sizing: border-box;
  
}

h2 {
  padding: 20px;
}

.generic {
  color: #2688E3;
  /* text-align: center; */
}

.button {
  background-color: #9A43B1;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.button:hover {
  background-color: #7e0c9e;
}
