a {
  margin: 0px;
  box-sizing: border-box;
  text-decoration: none
}

a:hover {
  text-decoration:none;
}

h2 {
  padding: 20px;
}

.generic {
  color: #2688E3;
  /* text-align: center; */
}

.center-margin {
  margin-left: auto;
  margin-right: auto;
}

.button {
  background-color: #9A43B1;
  border: none;
  display: block; 
}

.button:hover {
  background-color: #7e0c9e;
}
