

.form {
    padding: 50px 100px;
    margin: 0px 200px;
    text-align: left;
    background-color: #BADEFC;
    font-weight: bold;
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2) ;
    border-radius: 25px;
}

.container-generic {
    margin: 0 auto;
}

/* padding: 50px 100px; */

.subtitle {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.tails-container, .petCard-container {
    margin-top: 3em;
   max-height: 500px;
   overflow: auto;
}

@media screen and (min-width: 1025px) {
    .container-generic {
        padding: 4em 6em;
    }
}