.container-generic {
    margin: 0 auto;
}

.subtitle {
    font-size: 50px;
    font-weight: bold;
}

.tails-container, .petCard-container {
    margin-top: 3em;
   max-height: 500px;
   overflow: auto;
}

@media screen and (min-width: 1025px) {
    .container-generic {
        padding: 1em 6em;
    }
}