.petCard {
    word-wrap: normal;
    height: 375px;
    background-color: #badefc;
    margin-top: 1em;
}

.username {
    color: #badefc;
    font-weight: bolder;
    background-color: #9443b1;
    margin-bottom: 0%;
    font-size: 100%;
}

.petCard:hover {
    word-wrap: break-word;
}

.username, .rel-status {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.username:hover {
    overflow:visible;
}

.petCard-container {
    padding-right: 2em;
}

.heart {
    color: red;
}

.image {
    margin-top: 0%;
}

.petBody {
    color: #2688e3;
    font-size: 100%;
    font-weight: bolder;
}