 .tail-title {
    font-weight: bold;
    font-size: 1.5rem;
    word-break: keep-all;
}

.tail-date {
    font-size: 1rem;
}

.tail-card {
    text-align: center;
    background-color: #9A43B1;

   
}

/* a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
} */

.parent-text {
    word-wrap: break-word;
}

.tail-text {
    font-size: 1.5rem;
    text-align: left;
    word-wrap: break-word;
   
    
    
}